target
*.iml
.idea
.springBeans
*.log*
*.sh
*.classpath*
*.project*
*.settings*
hsqldb/test*
*xml.asc
.gitignore
*hsqldb
*test.db.lck
*test.db.properties
*test.db.script
*.DS_Store
test-output
test-output/**
